@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@font-face {
  font-family: 'KSP Regular';
  src: URL('/assets/font/KSP/ttf/KSP\ Regular\ ver\ 1.00.ttf')
    format('truetype');
  font-family: 'KSP Bold';
  src: URL('/assets/font/KSP/KSP\ Bold\ ver\ 1.00.ttf') format('truetype');
}

* {
  font-family: 'KSP Bold' !important;
}

table {
  width: 100%;
}

hr {
  margin: 4px !important;
}

.mat-tab-label {
  background: #eff1f3;
  color: #515153;
  width: 180px;
  margin: 0 2px;
}

.mat-tab-label-active {
  background-color: white;
  opacity: 1 !important;
  border-top: solid #0056ff;
  border-bottom: none;
}

.mat-tab-body-content {
  padding: 25px;
}

.mat-tab-body-wrapper {
  border-radius: 0 0 15px 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.material-icons {
  font-family: 'Material Icons' !important;
}

.mat-ink-bar {
  visibility: hidden !important;
}

/*
add asterisk for required feild
*/
.required::after {
  color: red;
  content: ' *';
}

.btn {
  font-size: 20px;
  width: 120px;
}

/* .btn-primary {
  background-color: #3f89fe !important;
  border-color: #3f89fe !important;
} */

.btn-light {
  background-color: #e8e8e8 !important;
  border-color: #e8e8e8 !important;
}
