/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@font-face {
  font-family: 'KSP Regular';
  src: URL('/assets/font/KSP/ttf/KSP\ Regular\ ver\ 1.00.ttf')
    format('truetype');
  font-family: 'KSP Bold';
  src: URL('/assets/font/KSP/KSP\ Bold\ ver\ 1.00.ttf') format('truetype');
}

* {
  font-family: 'KSP Bold' !important;
}

.mat-tab-label {
  background: #eff1f3;
  color: #515153;
  width: 180px;
  margin: 0 2px;
  
}

.mat-tab-label-active {
  background-color: white;
  opacity: 1 !important;
  border-top: solid #0056ff;
  border-bottom: none;
}

.mat-tab-body-content {
  padding: 25px;
}
