@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import './mat-style.css';

:root {
  --ksp-gray: #656565;
  --ksp-gray-bg: #e5e5e5;
  --ksp-sidenav-width: 237px;
  --ksp-top-nav-height: 58px;
}

@font-face {
  font-family: 'ksp regular';
  src: URL('/assets/font/ksp/ksp-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'ksp bold';
  src: URL('/assets/font/ksp/ksp-bold.ttf') format('truetype');
}

* {
  font-family: 'ksp bold';
}

table {
  width: 100%;
}

hr {
  margin: 0.8rem 2px !important;
}

/*
add asterisk for required feild
*/
.required::after {
  content: ' *';
}

.btn {
  font-size: 1rem;
  width: 120px;
}

.form-label {
  margin-bottom: 0 !important;
  font-size: 1.125rem;
  color: var(--ksp-gray);
}

.form-select,
.form-control {
  color: var(--ksp-gray) !important;
  font-size: 22px !important;
  padding: 0 0.75rem !important;
}

.sticky-bottom {
  position: sticky;
  background-color: white;
  right: 0;
  bottom: 0;
  left: var(--ksp-sidenav-width);
  z-index: 1030;
  width: auto !important;
}
