/*
import order is important for overwrite bootstrap
**/

$customTheme: (
  'orange': #f68b33,
  'success': #4caf50,
);

$font-family-base: 'ksp bold';
$enable-cssgrid: true;

@import './node_modules/bootstrap/scss/functions';
@import './node_modules/bootstrap/scss/variables';
//@import './node_modules/bootstrap/scss/maps';
//@import './node_modules/bootstrap/scss/mixins';
$theme-colors: map-merge($theme-colors, $customTheme);
@import './node_modules/bootstrap/scss/bootstrap';
@import './node_modules/bootstrap-icons/font/bootstrap-icons';
